// theme
$primary: #2871B7;
$primary-light: #D8F2FF;
$accent: #CD5A83;
$foreground : #F1F1F1;
$font: #444;


body {
    margin: 0;
    width: 97.9%;
}
header {
    margin: 0;
    background: url('assets/john-looy-X3DZ1c7MPa4-unsplash.png') no-repeat;
    background-size:contain;
    height: 770px;
    width: 100%;
    padding: 1rem;
}

#nav-bar {
    background-color: rgba(255,255,255,.95);
    width:95%;
    height : 115px;
    margin: auto;
    display: flex;
    flex-flow: row wrap;
    box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.30);
    .nav-title {
        flex: 1;
        padding: 1rem;
    }
    .nav-right {
        flex: 4;
        padding: .5rem 0;
        display: flex;
        flex-direction: column;
        .nav-list {
            font-size: .9rem;
            width: 95%;
            float: right;
            li {
                float: right;
                margin-left: 1em;
                list-style-type: none;
                a {
                    color: $font;
                    text-decoration: none;
                }
            }
        }
        .social-icons {
            width: 95%;
            img {
                float: right;
                margin: .3rem 0 0 .3rem;
                width: 30px;
            }
        }
    }
}

button {
    padding: .5em 1em;
    font-weight: bold;
    font-size: 1rem;
    border: none;
    border-radius: 3px;
    &.accent-button {
        background-color: $accent;
        color: #eee;
    }

}
#head-carrousel {
    width: 30%;
    margin-left: 4rem;
    padding-top: 10rem;

    h1 {
        font-size: 2.5rem;
        text-align: left;
        text-transform: uppercase;
        color: $primary;
    }
    p {
        font-size: 1.5rem;
    }
}
