body {
  margin: 0;
  width: 97.9%;
}

header {
  margin: 0;
  background: url("assets/john-looy-X3DZ1c7MPa4-unsplash.png") no-repeat;
  background-size: contain;
  height: 770px;
  width: 100%;
  padding: 1rem;
}

#nav-bar {
  background-color: rgba(255, 255, 255, 0.95);
  width: 95%;
  height: 115px;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 5px 20px 0px rgba(0, 0, 0, 0.3);
}

#nav-bar .nav-title {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 1rem;
}

#nav-bar .nav-right {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  padding: .5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#nav-bar .nav-right .nav-list {
  font-size: .9rem;
  width: 95%;
  float: right;
}

#nav-bar .nav-right .nav-list li {
  float: right;
  margin-left: 1em;
  list-style-type: none;
}

#nav-bar .nav-right .nav-list li a {
  color: #444;
  text-decoration: none;
}

#nav-bar .nav-right .social-icons {
  width: 95%;
}

#nav-bar .nav-right .social-icons img {
  float: right;
  margin: .3rem 0 0 .3rem;
  width: 30px;
}

button {
  padding: .5em 1em;
  font-weight: bold;
  font-size: 1rem;
  border: none;
  border-radius: 3px;
}

button.accent-button {
  background-color: #CD5A83;
  color: #eee;
}

#head-carrousel {
  width: 30%;
  margin-left: 4rem;
  padding-top: 10rem;
}

#head-carrousel h1 {
  font-size: 2.5rem;
  text-align: left;
  text-transform: uppercase;
  color: #2871B7;
}

#head-carrousel p {
  font-size: 1.5rem;
}
/*# sourceMappingURL=styles.css.map */